{% extends "layout.html" %}

{% block title %}
    Title Editor
{% endblock %}

{% block main %}
    <!-- Create title -->
    <div class="form-group">
        <button class="btn btn-primary" onclick="toggle_show('create_title')">Create Title</button>
    </div>

    <form action="/create_title" method="post" id='create_title' class="hide">
        <div class="form-group">
            Create Title for:
            <select class="form-control" name="webpage_name" required>
                <option disabled selected value>Select Webpage</option>
                {% for webpage in webpage_names %}
                    <option value="{{ webpage.webpage_name }}">{{ webpage.webpage_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <input autocomplete="on" class="form-control" name="title" placeholder="Title" type="text" maxlength = "128" required>
        </div>

        <div class="form-group">
            <select class="form-control" name="title_font" required>
                <option disabled selected value>Select Font</option>
                {% for font in fonts %}
                    <option value="{{ font }}" style="font-family: {{ font }};">{{ font }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" name="title_color" required>
                <option disabled selected value>Title Color</option>

                {% for color in colors %}
                    <option value="{{ color.code }}" style="color: {{ color.code }}; font-weight: bold;">{{ color.color }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <input autocomplete="off" class="form-control" name="title_size" placeholder="Size" type="number" min="10" max="127" required>
        </div>

        <div class="form-group">
            <select class="form-control" name="title_alignment" required>
                <option disabled selected value>Title Alignment</option>

                <option value="right">Right Aligned</option>
                <option value="center">Center Aligned</option>
                <option value="left">Left Aligned</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit">Create</button>
        </div>
    </form>

    <!-- Change Title -->
    <div class="form-group">
        <button class="btn btn-primary" onclick="toggle_show('change_title')">Change Title</button>
    </div>

    <form action="/change_title" method="post" id='change_title' class="hide">
        <div class="form-group">
            <select class="form-control" name="webpage_name" required>
                <option disabled selected value>Select Webpage</option>
                {% for webpage in all_webpage_names %}
                    <option value="{{ webpage.webpage_name }}">{{ webpage.webpage_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            Leave blank if you do not want to change:
            <input autocomplete="on" class="form-control" name="title" placeholder="Title" type="text" maxlength = "128">
        </div>

        <div class="form-group">
            Font:
            <select class="form-control" name="title_font" required>
                <option selected value="do not change">Do not change</option>

                {% for font in fonts %}
                    <option value="{{ font }}" style="font-family: {{ font }};">{{ font }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            Color:
            <select class="form-control" name="title_color" required>
                <option selected value="do not change">Do not change</option>

                {% for color in colors %}
                    <option value="{{ color.code }}" style="color: {{ color.code }}; font-weight: bold;">{{ color.color }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            Leave blank if you do not want to change:
            <input autocomplete="off" class="form-control" name="title_size" placeholder="Size" type="number" min="10" max="127">
        </div>

        <div class="form-group">
            Title Alignment:
            <select class="form-control" name="title_alignment" required>
                <option selected value="do not change">Do not change</option>

                <option value="right">Right Aligned</option>
                <option value="center">Center Aligned</option>
                <option value="left">Left Aligned</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-warning" type="submit">Change</button>
        </div>
    </form>

    <!-- Delete Title -->
    <div class="form-group">
        <button class="btn btn-primary" onclick="toggle_show('delete_title')">Delete Title</button>
    </div>

    <form action="/delete_title" method="post" id='delete_title' class="hide">
       <div class="form-group">
            <select class="form-control" name="webpage_name" required>
                <option disabled selected value>Select Webpage</option>
                {% for webpage in all_webpage_names %}
                    <option value="{{ webpage.webpage_name }}">{{ webpage.webpage_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" type="submit">Delete</button>
        </div>
    </form>
{% endblock %}